{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Chaitanya Sai - Resume</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Saichaitanya Orakala."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="{% static 'images/headshot.jpeg'%}" alt="Alan Smith" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Saichaitanya Orakala</h1>
			<h2 class="quickFade delayThree">Python Developer</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>Email: chaitanyasai.py@gmail.com</li>
				<li><a href="http://www.orakala.com">www.orakala.com</a></li>
				<li>Cell: +1587-288-9075</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Professional Summary</h1>
				</div>
				
				<div class="sectionContent">
					<p>
						<li>Around 5+ Years of experience in Analysis, Design, Development, Management and Implementation of various stand-alone, client-server enterprise applications.</li>
<li>Good experience in Python, Django, Zope, Bottle.py, Pyramid Framework.</li>
<li>Working Knowledge of Pandas, Numpy, Scipy. Good working knowledge of Deep Learning Python libraries.</li>
<li>Experience of software development in Python (libraries used: libraries- BeautifulSoup, numpy, scipy, matplotlib, python-twitter, OpenCV, Pandas dataframe, networkx, urllib2, MySQLdb for database connectivity) and IDEs - sublime text, Spyder, pycharm, emacs.</li>
<li>Having experienced in Agile Methodologies, Scrum stories and sprints experience in a Python based environment, along with data analytics, data wrangling and Excel data extracts.</li>
<li>Experienced in MVW frameworks like Django, Angular.js, Java Script, JQuery and Node.js.</li>
<li>Proficient in Front end development experience using HTML, XML, CSS, JQuery, JSON and Javascript, CSS, Bootstrap.</li>
<li>Expert knowledge of and experience in Object oriented Design and Programming concepts.<li>
<li>Experience object oriented programming (OOP) concepts using Python, C++ and PHP.</li>
<li>Proficient in SQL databases MySQL, Oracle and no-SQL databases MongoDB, Cassandra, Sqlite 3.</li>
<li>Experience in writing Sub Queries, Stored Procedures, Triggers, Cursors, and Functions on MySQL and PostgreSQL database.</li>
<li>Excellent experience with Python development under Linux OS (Debian, Ubuntu, SUSE Linux, RedHat Linux, Fedora).</li>
<li>Ability to manage (Multiple) project tasks with changing priorities and tight deadlines. Ability to work well in a team. Open to Team related tasks, team meetings, team interaction and  conference calls.</li>
<li>Demonstrated ability to work well with a wide variety of people at various levels, foster cooperation and collaboration among individuals in the work unit, help team resolve conflicts constructively and ability and willingness to communicate when help is needed. </li>
<li>A Self starter with a positive attitude, willingness to learn new concepts and acceptance of challenges.</li>

</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Python Developer at Connect First Credit Union</h2>
					<p class="subDetails">May 2018 - Present</p>
					<p>Connect First Credit Union proudly serves Calgarian’s through 15 retail branches in the greater Calgary area. We were officially formed in 1987 through the amalgamation of 7 open-bond credit unions, however our local spirit and sense of community stretches back much further. With a dedicated focus on understanding the financial needs of local members and businesses, we empower a passionate team to deliver financial services and products with a true understanding of local economies and context.</p>

					<p>
						<li>Responsible for gathering requirements, system analysis, design, development, testing and deployment</li>
<li>Participated in the complete SDLC process and developed user interface using CSS, HTML, JavaScript and JQuery</li>
<li>Wrote Python modules to extract/load asset data from the MySQL source database.</li>
<li>Designed and implemented a dedicated MYSQL database server to drive the webapps and report on daily progress.</li>
<li>Developed views and templates with Python and Django’sview controller and templating language to create a user-friendly website interface.</li>
<li>Used Django framework for application development.</li> 
<li>Enhanced existing automated solutions, such as the Inquiry Tool for automated Asset Department reporting and added new features and fixed bugs.</li>
<li>Embedded AJAX in UI to update small portions of the web page avoiding the need to reload the entire page.</li>
<li>Created entire application using Python, Django, MySQL and Linux. Programming in Python as well as Perl.</li>
<li>Created most important Business Rules which are useful for the scope of project and needs of customers.</li>
<li>Improved performance by using more modularized approach and using more in built methods.</li>
<li>Involved in development of Web Services using SOAP for sending and getting data from the external interface in the XML format. Wrote unit test cases for testing tools.</li>
<li>Performed data manipulation/storage for incoming test data using lxml /etree libraries.</li>
<li>Developed API modularizing existing python module with the help of pyyaml libraries.</li>
<li>Created database using MySQL, wrote several queries to extract/store data.</li>
<li>Coded test programs and evaluated existing engineering processes.</li>
<li>Designed and configured database and back end applications and programs.</li>
<li>Performed research to explore and identify new technological platforms.</li>
<li>Collaborated with internal teams to convert end user feedback into meaningful and improved solutions.</li>

					</p>


				</article>
				
				<article>
					<h2>Python Developer at Excel Systems</h2>
					<p class="subDetails">August 2016 - April 2018</p>
					<p>Excelsystems Software is a loosely structured, low management organization led by techies. We love new technology and are always exploring ways to turn new ideas into products and features that people can use. We have flourished for more than 20 years by staying true to our core principles of technical curiosity, innovation, hard work and conscientiously applying the golden rule to all our relationships.</p>

					<p>
						<li>Responsible for gathering requirements, system analysis, design, development, testing and deployment.</li>
<li>Used Django framework for application development.</li>
<li>Developed user interface using, CSS, HTML, JavaScript and JQuery& Ruby on rails.</li>
<li>Assisted in reduction of cost and optimization of supplier selection for the CRM Applications.</li>
<li>Ensured high quality data collection and maintaining the integrity of the data.</li>
<li>Cleaned data and processed third party spending data into maneuverable deliverables within specific formats with Excel macros and python libraries.</li>
<li>Used several python libraries like wxPython, numPY and matPlotLib.</li>
<li>Involved in environment, code installation as well as the SVN implementation.</li>
<li>Build all database mapping classes using Django models and Cassandra.</li>
<li>Used Pandas API to put the data as time series and tabular format for east timestamp data manipulation and retrieval.</li>
<li>Designed and developed data management system using MySQL.</li>
<li>Creating unit test/regression test framework for working/new code</li>
<li>This project also used other technologies like JQuery for java script manipulations, bootstrap for the front-end html layout.</li>
<li>Responsible for debugging and troubleshooting the web application.</li>
<li>Developed, tested and debugged software tools utilized by clients and internal customers.</li>
<li>Coded test programs and evaluated existing engineering processes.</li>
<li>Designed and configured database and back end applications and programs.</li>
<li>Performed research to explore and identify new technological platforms.</li>
<li>Collaborated with internal teams to convert end user feedback into meaningful and improved solutions.</li>
<li>Resolved ongoing problems and accurately documented progress of a project.</li>

					</p>
				</article>
				
				<article>
					<h2>Software Engineer at Persistent Systems</h2>
					<p class="subDetails">June 2014 - July 2016</p>
					<p>Persistent builds the software that drives the business of our customers; enterprises and software product companies with software at the core of their digital transformation. To be a well-respected technology company focused on delivering best in class innovative solutions to its customers and partners.</p>

					<p>
						<li>Used Django framework for application development.</li> 
<li>Developed user interface using, CSS, HTML, JavaScript and JQuery& Ruby on rails.</li>
<li>Assisted in reduction of cost and optimization of supplier selection for the CRM Applications.</li>
<li>Ensured high quality data collection and maintaining the integrity of the data.</li>
<li>Cleaned data and processed third party spending data into maneuverable deliverables within specific formats with Excel macros and python libraries.</li> 
<li>Used several python libraries like wxPython, NumPY and MatPlotLib.</li>
<li>Involved in environment, code installation as well as the SVN implementation.</li>
<li>Build all database mapping classes using Django models and cassandra.</li>
<li>Used Pandas API to put the data as time series and tabular format for east timestamp data manipulation and retrieval.</li>
<li>Designed and developed data management system using MySQL.</li>
<li>Creating unit test/regression test framework for working/new code</li>
<li>This project also used other technologies like JQuery for java script manipulations, bootstrap for the front-end html layout.</li>
<li>Responsible for debugging and troubleshooting the web application.</li>
<li>Developed, tested and debugged software tools utilized by clients and internal customers.
<li>Coded test programs and evaluated existing engineering processes.</li>
<li>Designed and configured database and back end applications and programs.</li>
<li>Performed research to explore and identify new technological platforms.</li>
<li>Collaborated with internal teams to convert end user feedback into meaningful and improved solutions.</li>
<li>Resolved ongoing problems and accurately documented progress of a project</li>

					</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>Python/Django/Flask</li>
					<li>Javascript</li>
					<li>Html/CSS</li>
					<li>MySQL/Oracle</li>
					<li>Git/SVN</li>
					<li>Jquery/XML</li>
					<li>Shell Script</li>
					<li>C++/Java</li>
					<li>SublimeTxt/Pycharm</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				
				<article>
					<h2>Matrusri Engineering college(Osmania University)</h2>
					<p class="subDetails">Bachelors Of Engineering</p>
					
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>